.seedGame-wrap{
    width: 390px;
    height: 425px;
    position: relative;
    img {
        position: absolute;
        bottom: 0px;
        animation: seedBounce 1.5s infinite;
    }
    button{
        bottom: -100px;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .timer{
        text-align: center;
        font-size: 20px;
    }
}
.current-seeds{
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
}

@keyframes seedBounce {
    0%{
        bottom: 0px;
    }
    15%{
        bottom: 10px;
    }
    30%{
        bottom: 5px;
    }
    40%{
        bottom: 10px;
    }
    100%{
        bottom: 0px;
    }
}