.seedGame-wrap{
    width: 390px;
    height: 341px;
    margin: 36px 0 64px 0;
    position: relative;
}
.start-btn{
    cursor: pointer;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background-color: coral;
    border: 1px dashed crimson;
    border-radius: 10px;
}
