.footer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    align-items: center;
}

.question{
    color: red;
    font-size: 33px;
    cursor: pointer;
}

.collection{
    z-index: 30;
    cursor: pointer;
    position: relative;
}