.container{
    width: 100%;
    text-align: center;
}

.seeds{
    width: 250px;
    height: 258px;
    background-color: aquamarine;
}

.seeds.active{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


button:disabled{
    opacity: 0.5;
}

.hamster-catch h2::before{
    content: '';
    background-image: url('');
}


.catch{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 7;
}
